{% extends './base.html' %}
{% block content %}

<div class="container" style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
    <div class='jumbotron' style='width: 100%;'>

        <center>
            <div style="margin-bottom: 40px;">
                <h1>Welcome to Book Ticket Reservation, {{ request.user.username }}!</h1>
            </div>
        </center>

        <form method="POST" action="{% url 'book' %}">
            {% csrf_token %}

            <div class="form-group row">
                <label class='form-label col-sm-2' for="source">Source</label>
                <div class='col-sm-10'>
                    <select class="form-control" id="source" name="source" required>
                        {% for t in sources %}
                            <option value="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="destination">Destination</label>
                <div class='col-sm-10'>
                    <select class="form-control" id="destination" name="destination" required>
                        {% for t in destinations %}
                            <option value="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Name of the person</label>
                <div class='col-sm-10'>
                    <input type="text" class="form-control" id="name" placeholder="Enter the Name of person" name="name" required>
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="age">Age</label>
                <div class='col-sm-10'>
                    <input type="number" class="form-control" id="age" placeholder="Enter the Age" name="age" required>
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="gender">Gender</label>
                <div class='col-sm-10'>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>

            <center>
                <input type="submit" class="btn btn-success" value="Book">
            </center>
        </form>

    </div>
</div>

{% endblock %}
